<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=
    , initial-scale=1.0"
    />
    <title>나의 항해일지</title>
    <!-- Bulma -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <!-- Google font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap"
      rel="stylesheet"
    />

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Js, Css -->
    <link rel="stylesheet" href="../static/css/login.css" />
    <script defer type="text/javascript" src="../static/js/login.js"></script>
  </head>
  <body>
    <div class="wrap"></div>
    <div class="main">
      <input type="checkbox" id="chk" aria-hidden="true" />

      <div class="signup">
        <form>
          <label for="chk" aria-hidden="true">Sign up!!</label>

          <div class="field">
            <input
              type="text"
              id="input-username"
              name="txt"
              placeholder="Username"
              required=""
            />
            <button class="button dup-check" onclick="check_dup()">
              중복확인
            </button>
          </div>
          <p id="help-id" class="help">
            2-10자의 영문과 숫자, 특수문자(._-)만 입력 가능
          </p>

          <input
            type="password"
            id="input-password"
            placeholder="Password"
            required=""
          />
          <p id="help-password" class="help">
            영문과 숫자 조합의 8-20자의 비밀번호를 설정해주세요.
            특수문자(!@#$%^&*)도 사용 가능합니다.
          </p>

          <input
            type="password"
            id="input-password2"
            placeholder="Password"
            required=""
          />
          <p id="help-password2" class="help">
            비밀번호를 다시 한 번 입력해주세요.
          </p>
          <button id="signupBtn" for="chk" aria-hidden="true">Sign up</button>
        </form>
      </div>

      <div class="login">
        <form>
          <label for="chk" aria-hidden="true">Login</label>
          <input
            type="text"
            name="username"
            placeholder="Username"
            required=""
          />
          <input
            type="password"
            name="pswd"
            placeholder="Password"
            required=""
          />
          <button onclick="log_in()">Login</button>
        </form>
      </div>
    </div>
  </body>
</html>
